:root {
  --c-brand: #2ad2e2;
  --c-brand-light: #66d7e2;

  --c-divider: #4d4d4d;

  --c-text: #ccc;
  --c-text-light: #e5e5e5;
  --c-text-lighter: #fff;

  --c-bg: #080808;
  --c-bg-accent: #161616;

  --code-bg-color: #161616;
}